:host {
    --fontFamily: 'Roboto';
    // COLOR VARIABLES

    --primaryColor: #1696fd;
    --backgroundColor: #e9e9e9;
    --subtleColor: #a7a7a7;
    --borderColor: #c7c7c7;

    --bodyDark: #212121;
    --bodyLight: #ffffff;

    // LAYOUT VARIABLES
    --verPadding: 15px;
    --sidePadding: 20px;
    --sideMargin: 20px;


    // TYPOGRAPHY
    --typoBody: 16px;
}